<h2>Edit Question</h2>

<%= form_with model: @question do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.label :content %>
  <%= f.text_area :content %><br>

  <%= f.label :question_tag, "Update Tags" %>
  <%= f.fields_for @question_tag do |qt_form| %>
      <%= qt_form.collection_check_boxes :tag_id, Tag.all, :id, :name %>
      <%= qt_form.hidden_field :question_id, :value => @question.id %>
  <% end %>

  <%= f.submit "Update" %>
<% end %>
