<h2>Edit Question</h2>

<%= form_with model: @question do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.label :content %>
  <%= f.text_area :content %><br>

  <%= f.label :tag_ids, "Edit Tags" %>
  <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>

  <%= f.submit "Update" %>
<% end %>
