<h2>Edit Question</h2>

<%= form_with model: @question do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.label :content %>
  <%= f.text_area :content %><br>

  <%= f.label :question_tag, "Update Tags" %>

  <%= f.collection_check_boxes '[:question_tag][:tag_id]', Tag.all, :id, :name %>

  <%= f.submit "Update" %>
<% end %>
