<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<h2>Most Recent Questions</h2>
<% @questions.each do |q| %>
  <% if q.deleted == false %>
  <ul>
    <li><h3><%= link_to q.title, question_path(q.id) %></h3>
    <h5>Created at <%= q.created_at.localtime.strftime("%I:%M:%S %p %m-%d-%Y") %></h5>
    </li>
  </ul>
  <% end %>
<% end %>

<%= form_with url: search_path, local: true do |f| %>
  <%= f.label :query, "Search All Questions" %>
  <%= f.text_field :query %>
  <%= f.submit "Search" %>
<% end %>

<%= form_with url: search_path, local: true do |f| %>
  <%= f.label :tag_query, "Search by Tag" %>
  <%= f.collection_select :tag_query, Tag.all, :id, :name %>
  <%= f.submit "Search" %>
<% end %>

<h2><%= link_to "Post a Question!", new_question_path %></h2>
