<h2>New Question</h2>

<%= form_with model: @question do |f| %>
  <div id="add_q_title"><%= f.label "Title: " %>
  <%= f.text_field :title, style: "width: 300px" %></div><br>

  <div id="new_q_content"><%= f.text_area :content, size: "70 x 20", placeholder: "Write your question here!" %></div><br>

  <div id="add_t_title"><%= f.label :tag_ids, "Add Tags: " %><br></div>
  <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %><br>

  <div id="post-q-button"><%= f.submit "Post" %></div>
<% end %>
