
<% if flash[:message] %>
  <% flash[:message].each do |m| %>
    <p><%= m %></p>
  <% end %>
<% end %>





<h2>Create An Account</h2>



<%= form_with model: @user do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.submit "Create Account" %>

<% end %>
