
<% if flash[:message] %>
  <% flash[:message].each do |m| %>
    <p><%= m %></p>
  <% end %>
<% end %>

<div id="new-user-page">
<h2>Create a New Account</h2>


<%= form_with model: @user do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.text_field :email, style: "width: 200px" %><br>

  <div id="create-account-button"><%= f.submit "Create Account" %></div>

<% end %>
</div>
