<!DOCTYPE html>
<html>
  <head>
    <title>FStack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="navbar">
  <a href="/" class="">
    <h1>Flatiron's Stack Overflow</h1>
  </a>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
