<!DOCTYPE html>
<html>
  <head>
    <title>FStack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
  </head>

  <div class="navbar">
  <a href="/" class="">
    <h2>Flatiron's Stack Overflow</h2>
  </a>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
